:root {
    --primary-color: #066dc7;
    --normal-color: #7ac1ff;
}
body{
    background: url("../img/bg.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Noto Sans", sans-serif;
}
ul{
    list-style: none;
    padding: 0;
}
.header{
    background: white;
}
.logo img,.hotline{
    max-width: 60%;
    padding: 3%;
}
.hotline{
    float: right;
    font-weight: 600;
}
.hotline p{
    margin: 0;
    color: var(--normal-color);
}
.hotline h3{
    font-weight: 600;
    color: var(--primary-color);
}
.slide{
    padding: 0;
    line-height: 0;
}
#navbarSupportedContent{
    justify-content: center;
}
#navbarSupportedContent ul{
      width: 50%;
      justify-content: space-evenly;
  }
.navbar-toggler{
    outline: 0;
}
#slide{
    position: relative;
}
.slick-dots{
    display: none !important;
}
.info{
    position: absolute;
    display: flex;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    justify-content: center;
    align-items: flex-end;
}
.info-work{
    background: #143142;
    color: white;
    padding: 2%;
    width: 30%;
}
.info-work:nth-child(2){
    background: #015ea0;
}
.info-work:nth-child(3){
    background: #4599d4;
}
.info-work:hover ul{
    display: block;
}
.time-work{
    display: flex;
    justify-content: space-between;
}
.map-button{
    outline: 0;
    border: 1px solid white;
    width: 100%;
    padding: 3%;
    background: #015ea0;
    color: white;
}
.map-button:hover{
    background: white;
    color: #015ea0;
}
.info-work ul{
    padding-top: 6%;
    display: none;
}
hr{
    background: white;
}
/*.nav{*/
/*    padding: 3vw 0;*/
/*}*/
/*.nav-item a{*/
/*    width: 10vw;*/
/*    height: 10vw;*/
/*    margin: auto;*/
/*    background: #0000002e;*/
/*    border-radius: 50%;*/
/*    border: 0.6vw solid #ff8d00;*/
/*    font-size: 26px;*/
/*    font-weight: bold;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    filter: drop-shadow(2px 4px 6px black);*/
/*    cursor: pointer;*/
/*    color: aliceblue;*/
/*    text-decoration: none;*/
/*}*/
#service-game{
    animation: ani 2s infinite;
    max-width: 60%;
}
@keyframes ani {
    0%{transform: translateX(-10px)}
    50% {transform: translateX(10px)}
    100%{transform: translateX(-10px)}
}
.service{
    background: aliceblue;
    border-top: 3px solid yellow;
    text-align: center;
}
.service .col:nth-child(1){
    background: #719dca;
    color: white;
}
.service .col:nth-child(1) p {
    font-weight: 600;
    width: 85%;
    margin: auto;
    padding: 2%;
}

.service .col:nth-child(1) button{
    border: none;
    background: #07080878;
    padding: 1% 2%;
    filter: drop-shadow(2px 4px 6px black);
    font-weight: 600;
    color: white;
    outline: 0;
}
.service .col:nth-child(1) button:hover{
    background: black;
}
.service .col:nth-child(2){
    padding-left: 0;
    overflow-x: hidden;
    color: #719dca;
}
.service .col:nth-child(2) h2{
    font-size: 46px;
    padding: 6% 0 3% 6%;
}
.description{
    font-weight: 600;
    padding: 0 6% 6% 6%;
}
.service .col:nth-child(2) ul{
    list-style: none;
    padding: 3% 6% 3% 0;
}
.service .col:nth-child(2) ul li{
    transition: 1s;
    transform: translateX(-100%);
}
.service .col:nth-child(2) ul li a{
    padding: 3% 0;
    display: block;
    text-decoration: none;
    FONT-WEIGHT: 600;
    color: white;
    background: #719dca;
    border-radius: 0 35px 35px 0;
    text-align: center;
    font-size: larger;
    margin-bottom: 2%;
}
.service .col:nth-child(2) ul li a:hover{
    background: var(--primary-color);
}
.intro{
    text-align: center;
    padding: 3%;
    color: white;
}
.slide-intro img:hover{
    transition: 1s;
    transform: scale(1.1);
}
.road-map{
    background: #719dca;
    color: white;
}
.road-map-title h2{
    padding: 3%;
    text-align: center;
    color: white;
    font-weight: 600;
}
.map {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 0;
}
.map .items{
    position: relative;
    text-align: center;
    width: 20%;
}
span.line-h {
    height: 55px;
    display: block;
    width: 1px;
    margin: auto;
    border-left: 1px solid white;
}
span.point {
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    background: var(--primary-color);
    border: 3px solid white;
    transform: rotate(45deg);
}
.map .items hr{
    position: absolute;
    width: 100%;
    top: 94px;
    left: 50%;
    border-color: white;
}
.items-title {
    margin: 6% 0 3% 0;
}
.date {
    font-weight: bold;
}
.roadmap-description {
    text-align: center;
    padding: 6%;
}
.product{
    background: #153879d1;
    color: white;
}
.product .col{
    padding: 0;
}
.product-service{
    border-bottom: 0.2vw solid orange;
    position: relative;
}
.product-service::after{
    content: "";
    background: aliceblue;
    display: block;
    position: absolute;
    border-bottom: 0.2vw solid;
    animation: border-run 20s linear infinite;
}
.product-service:nth-child(2)::after{
    animation-delay: 3s;
}
.product-service:nth-child(3)::after{
    animation-delay: 6s;
}
.product-service:nth-child(4)::after{
    animation-delay: 9s;
}
@keyframes border-run{
    0% {width: 0;}
    50% {width: 100%;}
    100%{width: 0;}
}
.p-title{
    margin: 3%;
}
.p-content{
    width: 80%;
    margin: auto;
    padding: 0 0 3% 0;
}
.product-item ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 6% 0;
    justify-content: center;
}
.product-item ul li {
    width: 30%;
    padding: 2%;
}
.product-item ul li:hover{
    transition: 1s;
    transform: scale(1.1);
}
.product-item-info {
    background: white;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
}
.product-item-info p{
    margin: 0;
}
.product-price {
    font-size: 1rem;
    padding-bottom: 3%;
    color: #6a92ea;
}
.contact {
    background: url(../img/a.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.contact div:nth-child(1){
    margin: auto 0;
    padding: 0;
}
.contact div:nth-child(2){
    color: white;
    filter: drop-shadow(2px 4px 6px black);
    padding: 2%;
}
.footer {
    background: #719dca;
    color: white;
    text-align: center;
}
.footer p:nth-child(1){
    padding-top: 3%;
}
.footer p:nth-child(2){
    padding-bottom: 3%;
    margin: 0;
}
/**/
.item{
    position: relative;
}
.item h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    color: antiquewhite;
    font-weight: bold;
    filter: drop-shadow(2px 4px 6px black);
}
.item p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    font-size: 20px;
    color: cornflowerblue;
}
.index-slide {
    list-style: none;
    padding: 0;
    display: flex;
    position: absolute;
    z-index: 1;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}
ul.index-slide li {
    padding: 10px;
}
ul.index-slide li button {
    border: none;
    outline: 0;
    border-radius: 50%;
    text-indent: -10000px;
    height: 15px;
    width: 15px;
}
ul.index-slide li button  {
    border: none;
    outline: 0;
    border-radius: 50%;
    text-indent: -10000px;
    height: 15px;
    width: 15px;
    background: #ffffff75;
}
.slick-active button{
    background: white !important;
}
.bg-dark {
    background-color: #719dca!important;
    padding: 1% 10%;
}





